{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class="row">
  <div class="col-lg-6 col-sm-6 first-row">
    <div class="rounded tiles orange">
      {% placeholder left_main_image %}
    </div>
  </div>
  <div class="col-lg-6 col-sm-6">
    <div class="row">
      <div class="col-6">
        <div class="rounded tiles blue">
          {% placeholder right_upper_left %}
        </div>
      </div>
      <div class="col-6">
        <div class="rounded tiles blue">
          {% placeholder right_upper_right %}
        </div>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-6">
        <div class="rounded tiles blue">
          {% placeholder right_lower_left %}
        </div>
      </div>
    <div class="col-6">
      <div class="rounded tiles blue">
        {% placeholder right_lower_right %}
      </div>
    </div>
  </div>
</div>
</div>
{% placeholder template_1_content %}
{% placeholder some_other_content %}
{% endblock %}
