{% extends "base.html" %}
{% load sekizai_tags %}
{% load cms_tags %}

{% block base_content %}
<div class="content">
  <div class="container odd">
    <div class="row">
      <div class="col-lg-6 col-sm-6 first-row">
        <div class="rounded tiles orange">
          {% placeholder left_main_image %}
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="row">
          <div class="col-6">
            <div class="rounded tiles blue">
              {% placeholder right_upper_left %}
            </div>
          </div>
          <div class="col-6">
            <div class="rounded tiles blue">
              {% placeholder right_upper_right %}
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-6">
            <div class="rounded tiles blue">
              {% placeholder right_lower_left %}
            </div>
          </div>
          <div class="col-6">
            <div class="rounded tiles blue">
              {% placeholder right_lower_right %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-12 mission_statement'>
        {% placeholder mission_statement %}
        <div class="arrowlist">
          {% placeholder mission_statement_links %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
</div>
<div class="content_even">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 first-row">
        <h5>How To Access Data</h5>
        <hr>
        {% placeholder cruise_data %}
      </div>
      <div class="col-12 col-lg-4">
        <h5>Cruise Maps</h5>
        <hr>
        {% placeholder cruise_maps %}
      </div>
    </div>
  </div>
</div>
<div class="container content_odd">
  <div class="row">
    <div class="col-12 col-lg-8 col-md-8">
      <h5>Behind The Scenes</h5>
      <hr>
      {% placeholder outreach %}
    </div>
    <div class="col-12 col-lg-4 col-md-4">
      <h5>Featued</h5>
      <hr>
      <div class="featured_outreach orange">
      {% placeholder featured_outreach %}
    </div>
    </div>
  </div>          
</div>
<div class="content_even">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 first-row">
        <h5>Associated Programs</h5>
        <hr>
        {% placeholder other_programs %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block css %}
{% addtoblock "css" %}
<link href="/static/css/home.css" rel="stylesheet">
<link href="/static/css/tiles.css" rel="stylesheet">
{% endaddtoblock %}
{% endblock %}
