{% extends "base.html" %}
{% load sekizai_tags %}
{% load cms_tags %}

{% block outreach %}
<div class="row">
<div class="latest">
  <h3>Newest:</h3>
  <hr />
{% placeholder latest %}
</div>
</div>
<div class="row">
<div class="tiles featured orange">
  <h4>Featured:</h4>
  <hr />
{% placeholder featured %}
</div>
</div>
<div class="row">
<div class="tiles">
{% placeholder tiles %}
</div>
</div>
    {% block bibliography %}{% endblock %}
{% endblock %}
{% block css %}
{% addtoblock "css" %}
<link href="/static/css/tiles.css" rel="stylesheet">
{% endaddtoblock %}
{% endblock %}
