{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class="row">
  <div class="col-lg-6 col-sm-6 first-row">
    <div class="rounded">
      <a href="">
        <img src="/static/img/stock3.jpg" alt="" class="figure img-responsive"> 
        <span class="thumbnail_banner orange">cruise data</span>
        <span class="caption fade-caption">
          <h4>Cruise Data</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tristique felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tristique felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tristique felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tristique felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </span>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6">
    <div class="row">
      <div class="col-6">
        <div class="rounded">
          <a href="">
            <img src="/static/img/stock4.jpg" alt="" class="figure img-responsive">
            <span class="thumbnail_banner blue">data policy</span>
            <span class="caption fade-caption">
              <h4>Data Policy</h4>
              <p class="large_tb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </span>
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="rounded">
          <a href="">
            <img src="/static/img/stock5.jpg" alt="" class="figure img-responsive">
            <span class="thumbnail_banner blue">outreach</span>
            <span class="caption fade-caption">
              <h4>Outreach</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-6">
        <div class="rounded">
          <a href="">
            <img src="/static/img/stock6.jpg" alt="" class="figure img-responsive">
            <span class="thumbnail_banner blue">Links</span>
            <span class="caption fade-caption">
              <h4>Links</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </span>
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="rounded">
          <a href="">
            <img src="/static/img/stock7.jpg" alt="" class="figure img-responsive">
            <span class="thumbnail_banner blue">About</span>
            <span class="caption fade-caption">
              <h4>About</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% placeholder template_1_content %}
{% placeholder some_other_content %}
{% endblock %}
