{% load helpers %}
{% load sekizai_tags %}
{% block js %}
{% addtoblock "js" %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="/static/hydromap/js/map.js" type="text/javascript"></script>
{% endaddtoblock %}
{% endblock %}
{% block css %}
{% addtoblock "css" %}
<link rel="stylesheet" href="/static/hydromap/css/map.css">
{% endaddtoblock %}
{% endblock %}

<div class="hydromap_title">
  Crusies for the U.S. Global Ocean Carbon and Repeat Hydrography Program, <span id="hydromap_year_start"></span> - <span id="hydromap_year_end"></span>
</div>
<div class="hydromap_ledgend">
  (<span class="pending">Red</span> indicates a pending cruise, <span class="completed">grey</span> indicates a completed cruise)
</div>
<div class="hydromap_container">
</div>
<div class="col-sm-12 col-md-5 col-lg-5">
<div class="hydromap_download">
  <h3>Map Download:</h3>
  <p>The map is available to download in two formats, a rasterized version for display on other websites and a resolution independent
  vector version for suitable for publications. These maps were last updated on 2014-01-15.</p>
  <h5><a href="/static/hydromap/download/ushydro_2014_01_15.png">Rastor (png)</a></h5>
  <h5><a href="/static/hydromap/download/ushydro_2014_01_15.eps">Vector (eps)</a></h5>
</div>
</div>
