{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}
{% for entry in object_list|annotate_with_translations %}
<div class="floating_blog_list blue">
    {% with entry|get_preferred_translation_from_request:request as title %}
    <a href="{{ title.get_absolute_url }}">
    {% with entry.placeholders|choose_placeholder:"excerpt" as excerpt %}
    <!--<p>{{ entry.pub_date|date:"d b Y" }}<br/>
      {{ title }}
       {{ entry|render_language_choices:request|safe }}
       </p> -->
    {% render_placeholder excerpt %}
    {% endwith %}
    </a>
    {% endwith %}
  </div>
{% endfor %}
