{% extends "base.html" %}
{% load helpers %}
{% load sekizai_tags %}
{% block hydrotable %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <h4>How to Select</h4>
      Make sure the parameters you want to see in your custom table are checked. You can click either the text or the checkbox to toggle the selection. At least one parameter must be selected. Then select either Custom Column Order or Default Column Order at the bottom.
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><button id="select_all" type="button" class="btn btn-info">Select All</button>
      <button id="select_none" type="button" class="btn btn-warning">Select None</button></p>
    </div>
  </div>
  <form action="step2/" method="post">{% csrf_token %}
    <ul id="param_list">
      <li><label><input name="columns" type="checkbox" value="p_dates" checked> Dates</label></li>
      <li><label><input name="columns" type="checkbox" value="p_expocode" checked> Expocode<br/>(CTD, Bottle Data)</label></li>
      <li><label><input name="columns" type="checkbox" value="p_ship" checked> Ship</label></li>
      <li><label><input name="columns" type="checkbox" value="p_days" checked> Days</label></li>
      <li><label><input name="columns" type="checkbox" value="p_stations" checked> Stations</label></li>
      <li><label><input name="columns" type="checkbox" value="p_ports" checked> Ports</label></li>
      <li><label><input name="columns" type="checkbox" value="p_cs" checked> Chief Scientist</label></li>
      {% for param in parameters %}
      <li id="p_{{param.id}}"><label>
        <input name="columns" type="checkbox" value="p_{{param.id}}" checked>
        {{ param.name|safe }}
      </label>
      </li>
      {% endfor %}
    </ul>
    Build table with:
    <input class="btn btn-primary" name="custom_table" type="submit" value="Custom Column Order" />
    <input class="btn btn-primary" name="build_table" type="submit" value="Default Column Order" />
    </form >
  </div>
  {% endblock %}
  {% block css %}
  {% addtoblock "css" %}
  <link href="/static/hydrotable/css/custom_table.css" rel="stylesheet" >
  {% endaddtoblock %}
  {% endblock %}
  {% block js %}
  {% addtoblock "js" %}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script>
    $('#select_none').click(function(event) {   
      $(':checkbox').each(function() {
        this.checked = false;                        
      });
      min_needed_checked();
    });
    $('#select_all').click(function(event) {   
      $(':checkbox').each(function() {
        this.checked = true;                        
      });
      min_needed_checked();
    });
    $(':checkbox').click(min_needed_checked);
    function min_needed_checked(){
      if($(":checked").length < 1){
        $(":submit").attr('disabled','disabled');
        }else {
        $(":submit").removeAttr('disabled');
      }
    }
  </script>
  {% endaddtoblock %}
  {% endblock %}
