{% extends "base.html" %}
{% load helpers %}
{% load sekizai_tags %}
{% block hydrotable %}
{% if cruises %}
<table id="datatable" >
  <thead>
    <tr>
      <th>Cruise</th>
      <th>Dates</th>
      <th>Expocode</th>
      <th>Ship</th>
      <th>Days</th>
      <th>Stations</th>
      <th>Ports</th>
      <th>Chief Scientist</th>
      {% for param in parameters %}
      <th> {{param.name}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for cruise in cruises %}
    <tr>
      <td>{{ cruise.name }}</td>
      <td>{{ cruise.safe_start_date }} - {{ cruise.safe_end_date }}</td>
      <td>{{ cruise.safe_expocode }}</td>
      <td>{{ cruise.ship }}</td>
      <td>{{ cruise.safe_days }}</td>
      <td>{{ cruise.stations }}</td>
      <td>{{ cruise.safe_start_port }} - {{ cruise.safe_end_port }}</td>
      <td>{{ cruise.chief_scientist }}</td>

      {% for param in parameters %}
      <td>
        {% for program in cruises|hash:cruise %}
        {% if program.parameter == param %}
        {{ program.pi.name }}
        {% endif %}
        {% endfor %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
{% block js %}
{% addtoblock "js" %}
<script src="/static/js/jquery.dataTables.js" ></script>
<script src="/static/js/dataTables.bootstrap.js" ></script>
<script src="/static/js/FixedColumns.js" ></script>
<script src="/static/js/ColReorder.js" ></script>
<script>
  var mtable;
  $(window).load( function () {
    var oTable = $('#datatable').dataTable( {
      "sScrollX": "940px",
      "bScrollCollapse": true,
      "aaSorting": [[ 1, "desc" ]],
    } );
    new FixedColumns( oTable);
  } );
</script>
{% endaddtoblock %}
{% endblock %}
{% block css %}
{% addtoblock "css" %}
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet" >
<link href="/static/css/demo_table.css" rel="stylesheet" >
{% endaddtoblock %}
{% endblock %}
