{% extends "base.html" %}
{% load helpers %}
{% load sekizai_tags %}
{% block hydrotable %}
{% if cruises %}
<div class="hydro_container">
  <div class="row">
    <div class="col-sm-4 col-lg-4">
      <div class="data_status_key">
        <h4>Data status color guide</h4>
        <ul>
          <li class="not_yet">Sampled, data not received</li>
          <li class="preliminary">Data avaliable as received</li>
          <li class="final">Data avaliable in standard format</li>
          <li class="isdata">A link to Data</li>
        </ul>
      </div>
    </div>
  </div>
  <table id="datatable" >
    <thead>
      <tr>
        <th>Cruise</th>
        {% if custom == "False" %}
        <th>Dates</th>
        <th>Expocode<br/>(CTD, Bottle Data)</th>
        <th>Ship</th>
        <th>Days</th>
        <th>Stations</th>
        <th>Ports</th>
        <th>Chief Scientist</th>
        {% endif %}
        {% for param in parameters %}
        {% if param == "dates" %}
        <th>Dates</th>
        {% elif param == "expocode" %}
        <th>Expocode</th>
        {% elif param == "ship" %}
        <th>Ship</th>
        {% elif param == "days" %}
        <th>Days</th>
        {% elif param == "stations" %}
        <th>Stations</th>
        {% elif param == "ports" %}
        <th>Ports</th>
        {% elif param == "cs" %}
        <th>Chief Scientist</th>
        {% else %}
        <th> {{param.name|safe}}</th>
        {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for cruise in cruises %}
      <tr>
        <td>
          <a data-toggle="modal" href="#cruise{{cruise.id}}"><img height="20px" width="20px" src="/static/hydrotable/images/out_arrow.png"></a>
          {{ cruise.name }}</td>
        {% if custom == "False" %}
        {% if cruise.is_restricted %}
        <td>{{ cruise.year|safe }}</td>
        {% else %}
        <td>{{ cruise.safe_start_date }} - {{ cruise.safe_end_date }}</td>
        {% endif %}
        <td>{% if cruise.expocode_link %}<ul><a  target="_blank" href="{{cruise.expocode_link}}"><li class="isdata">{% endif %}{{ cruise.safe_expocode }}{% if cruise.expocode_link %}</li></a></ul>{% endif %}</td>
        <td>{% if cruise.ship.url %}<a target="_blank" href="{{cruise.ship.url}}">{% endif %}{{ cruise.ship }}{% if cruise.ship.url %}</a>{% endif %}</td>
        <td>{{ cruise.safe_days }}</td>
        <td>{{ cruise.stations }}</td>
        <td>{{ cruise.safe_start_port }} - {{ cruise.safe_end_port }}</td>
        <td><ul>{% for cs in cruise.chief_scientist.all %}<li>{{cs.name}}</li>{% endfor %}</ul></td>
        {% endif %}
        {% for param in parameters %}
            {% if param == "dates" %}
              {% if cruise.is_restricted %}
                <td>{{ cruise.year|safe }}</td>
              {% else %}
                <td>{{ cruise.safe_start_date }} - {{ cruise.safe_end_date }}</td>
              {% endif %}
        {% elif param == "expocode" %}
        <td>{% if cruise.expocode_link %}<ul><a  target="_blank" href="{{cruise.expocode_link}}"><li class="isdata">{% endif %}{{ cruise.safe_expocode }}{% if cruise.expocode_link %}</li></a></ul>{% endif %}</td>
        {% elif param == "ship" %}
        <td>{% if cruise.ship.url %}<a target="_blank" href="{{cruise.ship.url}}">{% endif %}{{ cruise.ship }}{% if cruise.ship.url %}</a>{% endif %}</td>
        {% elif param == "days" %}
        <td>{{ cruise.safe_days }}</td>
        {% elif param == "stations" %}
        <td>{{ cruise.stations }}</td>
        {% elif param == "ports" %}
        <td>{{ cruise.safe_start_port }} - {{ cruise.safe_end_port }}</td>
        {% elif param == "cs" %}
        <td><ul>{% for cs in cruise.chief_scientist.all %}<li>{{cs.name}}</li>{% endfor %}</ul></td>
        {% else %}

            <td>
              <ul>
                {% if param.id in cruise.parameters %}
                {% for program in cruise.program_set.all %}
                {% if program.parameter_id == param.id %}
                <li class="{% if program.is_data == 1 %}isdata {% endif %}{% if program.data_status == 1 %}not_yet{% endif%}{% if program.data_status == 2 %}preliminary{% endif%}{% if program.data_status == 3 %}final{% endif%}">
                {% if program.url %}
                <a target="_blank" href="{{program.url}}">
                  {% endif %}
                  {{ pi_names|hash:program.id }}
                  {% if program.url %}
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                {% if program.note %}
                <br/>
                <span class="program_notes">Notes: {{ program.note }}</span>
                {% endif %}
                {% endif %}
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              {% else %}
              -
              {% endif %}
            {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% for cruise in cruises %}
    <div class="modal fade" id="cruise{{cruise.id}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Cruise: {{cruise.name}} ({{cruise.expocode}})</h4>
          </div>
          <div class="modal-body">
            <p><b>Line Name:</b> {{ cruise.name }}</p>
              <p><b>Date:</b>{% if cruise.is_restricted %}
            {{ cruise.year|safe }}
            {% else %}
            {{ cruise.safe_start_date }} - {{ cruise.safe_end_date }}
            {% endif %}
            </p>
            <p><b>Expocode:</b> {% if cruise.expocode_link %}<a class="isdata" target="_blank" href="{{cruise.expocode_link}}">{% endif %}{{ cruise.safe_expocode }}{% if cruise.expocode_link %}</a>{% endif %}</p>
            <p><b>Ship:</b> {% if cruise.ship.url %}<a target="_blank" href="{{cruise.ship.url}}">{% endif %}{{ cruise.ship }}{% if cruise.ship.url %}</a>{% endif %}</p>
            <p><b>Number of Days:</b> {{ cruise.safe_days }}</p>
            <p><b>Number of Stations:</b> {{ cruise.stations }}</p>
            <p><b>Start Port:</b> {{ cruise.safe_start_port }}</p>
            <p><b>End Port:</b> {{ cruise.safe_end_port }}</p>
            <p><b>Chief Scientists:</b><ul>{% for cs in cruise.chief_scientist.all %}<li>{{cs.name}}</li>{% endfor %}</ul></p>
            <h4>Data Links and PIs:</h4>
                <hr>
                <table>
                  {% for param in parameters %}
                  {% if param.id in cruise.parameters %}
                  <tr>
                    <td class="modal_param_name"><b>{{param.name|safe}}:</b></td>
                    <td>
                      <ul class="modal_param_list">
                        {% for program in cruise.program_set.all %}
                        {% if program.parameter_id == param.id %}
                        <li class="{% if program.is_data == 1 %}isdata {% endif %}{% if program.data_status == 1 %}not_yet{% endif%}{% if program.data_status == 2 %}preliminary{% endif%}{% if program.data_status == 3 %}final{% endif%}">
                        {% if program.url %}<a target="_blank" href="{{program.url}}">{% endif %}{{ pi_names|hash:program.id }}{% if program.url %}</a>{% endif %}
                        
                        {% if user.is_authenticated %}
                         {% if program.note %}
                         <br/>
                         <span class="program_notes">Notes: {{ program.note }}</span>
                         {% endif %}
                         {% endif %}
                        </li>
                        {% endif %}
                  {% endfor %}
                      </ul>
                  </td></tr>
                  {% endif %}
                  {% endfor %}
                </table>
                </div>
                <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
    {% endfor %}
{% endif %}
{% endblock %}
{% block js %}
{% addtoblock "js" %}
<script src="/static/hydrotable/js/jquery.dataTables.js" ></script>
<script src="/static/hydrotable/js/dataTables.bootstrap.js" ></script>
<script src="/static/hydrotable/js/FixedColumns.js" ></script>
<script>
  var mtable;
  var hydrotable_top = 0;
  $(window).load( function () {
    var oTable = $('#datatable').dataTable( {
      "sScrollX": "100%",
      "bScrollCollapse": true,
      "aaSorting": [[ 1, "desc" ]],
      "oLanguage":{
        "sInfo": "Showing _START_ to _END_ of _TOTAL_ cruises",
        "sInfoFiltered": "(filtered from _MAX_ total cruises)",
			  "sInfoEmpty": "Showing 0 to 0 of 0 cruises",
      }
    } );
    new FixedColumns( oTable);
    $(".dataTables_scrollBody").scroll(function(){
      $(".dataTables_scrollHead").css("width", $(".dataTables_scroll").css("width"));
    });
    $(window).resize(function(){
      $(".dataTables_scrollHead").css("width", $(".dataTables_scroll").css("width"));
    });
    $(".dataTables_scrollBody").css("overflow-y", "hidden");

    hydrotable_top = $(".DTFC_ScrollWrapper").offset().top;
    $(window).scroll(function(){
      if ($(window).scrollTop() > hydrotable_top - 50){
        $(".dataTables_scrollHead").css("position", "fixed");
        $(".dataTables_scrollHead").css("top", "50px");
        $(".dataTables_scrollHead").css("background-color", "#fff");
        $(".dataTables_scrollHead").css("z-index", "5");
        $(".dataTables_scrollBody").css("margin-top", "80px");
        $(".DTFC_LeftHeadWrapper").css("position", "fixed");
        $(".DTFC_LeftHeadWrapper").css("top", "50px");
        $(".DTFC_LeftHeadWrapper").css("z-index", "5");
        $(".DTFC_LeftHeadWrapper").css("left", "auto");
        $(".DTFC_LeftBodyWrapper").css("margin-top", "80px");
        } else {
        $(".dataTables_scrollHead").css("position", "relative");
        $(".dataTables_scrollHead").css("top", "0px");
        $(".dataTables_scrollBody").css("margin-top", "0px");
        $(".DTFC_LeftHeadWrapper").css("position", "relative");
        $(".DTFC_LeftHeadWrapper").css("top", "0px");
        $(".DTFC_LeftHeadWrapper").css("z-index", "5");
        $(".DTFC_LeftHeadWrapper").css("left", "0px");
        $(".DTFC_LeftBodyWrapper").css("margin-top", "0px");
      }
    });


    $('.DTFC_ScrollWrapper').append('<div class="rightgradient"></div>');
    $('.DTFC_LeftWrapper').append('<div class="leftarrow arrowhide"></div>');
    $('.DTFC_ScrollWrapper').append('<div class="rightarrow arrowhide"></div>');
    $('.rightarrow').click(function(){
      e = $('.dataTables_scrollBody')
      s = e.scrollLeft();
      w = e.width()/1.5
      e.animate({
        scrollLeft: s + w
      }, 150);
    });
    $('.leftarrow').click(function(){
      e = $('.dataTables_scrollBody')
      s = e.scrollLeft();
      w = e.width()/1.5
      e.animate({
        scrollLeft: s - w
      }, 150);
    });

    $(window).resize(function() {
      if ($(window).width() < 768) {
        $('.arrowhide').hide();
      } else {
        $('.arrowhide').show();
      }
    });
  } );
</script>
{% endaddtoblock %}
{% endblock %}
{% block css %}
{% addtoblock "css" %}
<link href="/static/hydrotable/css/dataTables.bootstrap.css" rel="stylesheet" >
<link href="/static/hydrotable/css/demo_table.css" rel="stylesheet" >
{% endaddtoblock %}
{% endblock %}
